---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const categories = await fetch("https://kea-alt-del.dk/t7/api/categories/").then((response) => response.json());
---

<Layout>
  <Header />
  <main>
    <div class="grid-front-page">
      <div class="h2-front-page">
        <h2>Categories</h2>
      </div>
      <div>
        <ul>
          {
            categories.map((category) => (
              <li>
                <a href={`/productlist?category=${category.category}`}>{category.category}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </main>
  <Footer />
</Layout>
