---
const { data } = Astro.props;
---

<article class="product_list_container">
  <img src=`https://kea-alt-del.dk/t7/images/webp/640/${data.id}.webp` alt="product image" />
  <h3>{data.productdisplayname}</h3>
  <div class="product_info">
    <p>{data.price} DKK</p>
    <a href={data.id}>Read More</a>
  </div>
</article>
